body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input {
  width: 600px;
  height: 60px;
  outline: none;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 20px;
}
button {
  width: 100px;
  height: 56px;
  border: none;
  background-color: #4caf4f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
ul li {
  list-style: none;
  margin-top: 20px;
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  padding: 15px;
  border-radius: 10px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 35px;
}
ul li span {
  color: red;
  cursor: pointer;
}